<h1>Add a new task to @Model["category"].GetDescription()</h1>
<form action='/tasks' method='post'>
  <input id='category-id' name='category-id' type='hidden' value='@Model["category"].GetId()'>
  <label for='task-description'>Task description</label>
  <input id='task-description' name='task-description' type='text'>
  <label for='task-due'>Task due date:</label>
  <input id='task-due' name='task-due' type='text'>
  <button type='submit'>Add task</button>
</form>
